{include file='views/back/form_padrao/header.html'}

<div class="form-group">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    	<label>Nome * :</label>
    	<input class="form-group form-control" type="text" name="{$modulo.modulo}[podcast][nome]"  value="{if isset($cadastro)}{$cadastro.nome}{/if}" required>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	    <label>Idioma * :</label>
	    <input id="idioma" style="width: 100%;" type="text" name="{$modulo.modulo}[podcast][id_idioma]" required>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
	    <label>Data Inicio * :</label>
	    <input id="data_limite" class="form-group form-control" type="text" name="{$modulo.modulo}[podcast][data_inicio]"  value="{if isset($cadastro)}{$cadastro.data_inicio}{/if}">
	</div>

	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
	    <label>Data Cadastro * :</label>
	    <input class="form-group form-control" type="text" name="{$modulo.modulo}[podcast][data_cadastro]"  value="{if isset($cadastro)}{$cadastro.data_cadastro}{/if}" readonly disabled>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    <label>Link * :</label>
	    <input class="form-group form-control" type="text" name="{$modulo.modulo}[podcast][link]"  value="{if isset($cadastro)}{$cadastro.link}{/if}" required>
	</div>


	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    <label>Descrição</label>
	    <textarea class="form-group form-control" rows="5" name="{$modulo.modulo}[podcast][descricao]">{if isset($cadastro.descricao)}{$cadastro.descricao}{/if}</textarea>
	</div>
</div>

<script type="text/javascript">
    $('#data_limite').datetimepicker({
        sideBySide: true,
        debug: false,
        format: 'DD/MM/YYYY',
        // maxDate: '2018-12-31',
        widgetPositioning: {
            horizontal: 'auto',
            vertical: 'bottom'
        }
    });

    $('#idioma').select2({
        placeholder: $(this).data('placeholder'),
        multiple: false,
        minimumInputLength: 2,
        ajax: {
            type: 'POST',
            url: "/idioma/buscar_idioma_select2",
            dataType: 'json',
            data: function(term) {
                return {
                    busca: {
                        nome: term,
                        page_limit: 10,
                        cadastrar_busca: true
                    }
                };
            },
            results: function(data) {
                return {
                    results: data
                };
            }
        },
        formatResult: function(object) {
            return object.idioma
        },
        formatSelection: function(object) {
            return object.idioma.replace_all('Cadastrar ', '')
        }
    });

	{if isset($cadastro.idioma)}
	    $('#idioma').select2('data', {
			id: '{$cadastro.idioma.0.id}',
			idioma: '{$cadastro.idioma.0.idioma}'
		});
	{/if}//

</script>

{include file='views/back/form_padrao/footer.html'}


