{include file='views/back/form_padrao/header.html'}
<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="autor">Titulo * :</label>
    <input class="form-control" type="text" name="{$modulo.modulo}[titulo]"  value="{if isset($cadastro)}{$cadastro.titulo}{/if}" required>
</div>

<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="col-sm12">
		<label class="radio-inline" style="padding-left: 0px;">
			<strong>Exibir no menu do Cabeçalho? * :</strong>
		</label>
		<label class="radio-inline">
			<input type="radio" name="{$modulo.modulo}[exibir_cabecalho]" value="1" {if isset($cadastro) && $cadastro.exibir_cabecalho == 1} checked {/if} required> Sim
		</label>
		<label class="radio-inline">
			<input type="radio" name="{$modulo.modulo}[exibir_cabecalho]" value="0" {if isset($cadastro) && $cadastro.exibir_cabecalho == 0} checked {/if} required> Não
		</label>
	</div>
</div>

<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="col-sm12">
		<label class="radio-inline" style="padding-left: 0px;">
			<strong>Exibir no menu do rodapé? * :</strong>
		</label>
		<label class="radio-inline">
			<input type="radio" name="{$modulo.modulo}[exibir_rodape]" value="1" {if isset($cadastro) && $cadastro.exibir_rodape == 1} checked {/if} required> Sim
		</label>
		<label class="radio-inline">
			<input type="radio" name="{$modulo.modulo}[exibir_rodape]" value="0" {if isset($cadastro) && $cadastro.exibir_rodape == 0} checked {/if} required> Não
		</label>
	</div>
</div>
<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="col-sm12">
		<label class="radio-inline" style="padding-left: 0px;">
			<strong>Texto ou HTML:</strong>
		</label>
		<label class="radio-inline">
			<input type="radio" name="tipo_formulario" value="1" checked required> HTML
		</label>
		<label class="radio-inline">
			<input type="radio" name="tipo_formulario" value="0" required> Texto
		</label>
	</div>
</div>
<div data-tipo="tipo_texto" id="tipo_texto" class="tipo_editor form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display: none;">
    {include file="$core_modulo/$modulo.modulo/view/form/texto.html"}
</div>
<div data-tipo="tipo_html" id="tipo_html" class="tipo_editor form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {include file='views/back/html_cloud_editor_padrao/html_cloud_editor.html'}
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.data-tipo').on('click', function(){
			if($(this).data('tipo_editor') == 'tipo_texto'){
				$('#tipo_texto').show();
				$('#tipo_html').hide();
			}else if($(this).data('tipo_editor') == 'tipo_html'){
				$('#tipo_texto').hide();
				$('#tipo_html').show();
			}
		})
	});

</script>

{include file='views/back/form_padrao/footer.html'}
