{include file='views/back/form_padrao/header.html'}
<div class="contact-form form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row-fluid">
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label>URL * :</label>
            <input class="form-control" name="{$modulo.modulo}[url]" value="{if isset($cadastro.url)}{$cadastro.url}{/if}" type="text" required >
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <label>Controller * :</label>
            <input class="form-control" name="{$modulo.modulo}[controller]" value="{if isset($cadastro.controller)}{$cadastro.controller}{/if}" type="text" required >
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <label>Método * :</label>
            <input class="form-control" name="{$modulo.modulo}[metodo]" value="{if isset($cadastro.metodo)}{$cadastro.metodo}{/if}" type="text" required >
        </div>
    </div>
</div>
{include file='views/back/form_padrao/footer.html'}