{include file='views/back/form_padrao/header.html'}

<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label for="autor">Nome * :</label>
    <input class="form-control" type="text" name="{$modulo.modulo}[nome]"  value="{if isset($cadastro)}{$cadastro.nome}{/if}" required>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Ocorrencia:</h3>
        </div>
        <div class="panel-body">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <textarea class="form-control comentarios" rows="30" name="{$modulo.modulo}[descricao]">{if isset($cadastro)}{$cadastro.descricao}{/if}</textarea>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $(".comentarios").froalaEditor({
            toolbarButtons: ['fullscreen', 'undo', 'redo', '|',
                'bold', 'italic', 'underline', 'strikeThrough', '|',
                'fontSize', 'fontFamily', 'color', '|',
                'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', 'html',

                '-',

                'insertLink', 'insertHR', '|',
                'selectAll', 'clearFormatting','spellChecker', '|'
            ],
            language: 'pt_br',
            heightMin: 200,
    		heightMax: 1000
        })
    });
</script>

{include file='views/back/form_padrao/footer.html'}


